In [1]:
import pandas as pd

In [2]:
tweets = pd.read_csv("city_tweets.csv")

In [3]:
tweets.head()

,Unnamed: 0,id,text,author_id,edit_history_tweet_ids,conversation_id,created_at,geo.place_id,referenced_tweets,withheld.copyright,withheld.country_codes,city,inside
0,0,1396640490410418179,All the rain in North Texas got me like … #sur...,26630630,['1396640490410418179'],1396640490410418179,2021-05-24T01:33:35.000Z,42e46bc3663a4b5f,NaN,NaN,NaN,Fort Worth,1
1,1,1396618187903545344,"PodCast https://t.co/LnDEGlAXys en Fort Worth,...",1408791613,['1396618187903545344'],1396618187903545344,2021-05-24T00:04:58.000Z,42e46bc3663a4b5f,NaN,NaN,NaN,Fort Worth,1
2,2,1396615685892096002,"Just posted a video @ Fort Worth, Texas https:...",90184993,['1396615685892096002'],1396615685892096002,2021-05-23T23:55:02.000Z,42e46bc3663a4b5f,NaN,NaN,NaN,Fort Worth,1
3,3,1396611875278888968,Some serious orange joy #garden #flowers #bloo...,415712551,['1396611875278888968'],1396611875278888968,2021-05-23T23:39:53.000Z,42e46bc3663a4b5f,NaN,NaN,NaN,Fort Worth,1
4,4,1396609919244189696,I'm at Falcon Document Solutions in Fort Worth...,64588252,['1396609919244189696'],1396609919244189696,2021-05-23T23:32:07.000Z,42e46bc3663a4b5f,NaN,NaN,NaN,Fort Worth,1

In [5]:
len(tweets)

55706

In [4]:
#Check for duplicates
tweets.duplicated(subset=["id"]).sum()

5420

In [6]:
tweets_no_dupes = tweets.drop_duplicates(subset=['id'])

In [9]:
#ensure we have more than enough
tweets_no_dupes.groupby(by=['city', 'inside'])['id'].count()

city           inside
Boston         0         2724
               1         2411
Chicago        0         2789
               1         2735
Fort Worth     0         1762
               1         2183
Jacksonville   0         2438
               1         2208
Las Vegas      0         2608
               1         2792
New York       0         2837
               1         2607
Phoenix        0         2735
               1         2678
San Antonio    0         2321
               1         2567
San Francisco  0         2619
               1         2746
Washington DC  0         2355
               1         2171
Name: id, dtype: int64

In [13]:
#tweets_no_dupes as separate file
tweets_no_dupes.drop(columns=["Unnamed: 0"]).to_csv("tweets_no_duplicates.csv")

In [19]:
#get samples of 1000 per type
seed = 12345
samples = []
for city in tweets_no_dupes.city.unique().tolist():
    samples.append(tweets_no_dupes[(tweets_no_dupes.city == city) & (tweets_no_dupes.inside == 1)].sample(n=1000, random_state=seed))
    samples.append(tweets_no_dupes[(tweets_no_dupes.city == city) & (tweets_no_dupes.inside == 0)].sample(n=1000, random_state=seed))

In [20]:
#merge samples into 1 df
sample = pd.concat(samples)

In [21]:
#make sure that worked
sample.groupby(by=['city', 'inside'])['id'].count()

city           inside
Boston         0         1000
               1         1000
Chicago        0         1000
               1         1000
Fort Worth     0         1000
               1         1000
Jacksonville   0         1000
               1         1000
Las Vegas      0         1000
               1         1000
New York       0         1000
               1         1000
Phoenix        0         1000
               1         1000
San Antonio    0         1000
               1         1000
San Francisco  0         1000
               1         1000
Washington DC  0         1000
               1         1000
Name: id, dtype: int64

In [23]:
sample.drop(columns=["Unnamed: 0"]).to_csv("tweets_sample.csv")