In [1]:
import pandas as pd

In [2]:
tweets = pd.read_csv("city_tweets_hashtags2.csv")

/var/folders/w2/999xw7715kj3_sqxrf0t3nb00000gn/T/ipykernel_5393/862014333.py:1: DtypeWarning: Columns (0,4,13) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets = pd.read_csv("city_tweets_hashtags2.csv")

In [3]:
tweets.head()

,Unnamed: 0,conversation_id,edit_history_tweet_ids,text,author_id,created_at,id,geo.place_id,referenced_tweets,withheld.copyright,withheld.country_codes,city,inside,withheld.scope
0,0,1254411667556966406,['1254411667556966406'],Never Perfect - Always FRESH\n.\n.\n.\n#Sergio...,90139598,2020-04-26T14:07:02.000Z,1.254412e+18,9531d4e3bbafc09d,NaN,NaN,NaN,Oklahoma City,1.0,NaN
1,1,1254156483375386628,['1254156483375386628'],The beginning of the end of a really fun proje...,15509517,2020-04-25T21:13:01.000Z,1.254156e+18,9531d4e3bbafc09d,NaN,NaN,NaN,Oklahoma City,1.0,NaN
2,2,1253735221054275584,['1253735221054275584'],"Had to snap a pic, while the boys &amp; I were...",553636490,2020-04-24T17:19:04.000Z,1.253735e+18,9531d4e3bbafc09d,NaN,NaN,NaN,Oklahoma City,1.0,NaN
3,3,1253108798656569344,['1253108798656569344'],It looks like hubby finished up on the grill j...,920444509095264256,2020-04-22T23:49:53.000Z,1.253109e+18,207f2c7abbdb201b,NaN,NaN,NaN,Oklahoma City,1.0,NaN
4,4,1253068595422048256,['1253068595422048256'],You deserve a treat @davidfholt and the people...,25919161,2020-04-22T21:10:08.000Z,1.253069e+18,62ff27569714ddb3,NaN,NaN,NaN,Oklahoma City,1.0,NaN

In [4]:
len(tweets)

115901

In [5]:
#Check for duplicates
tweets.duplicated(subset=["id"]).sum()

45061

In [6]:
tweets_no_dupes = tweets.drop_duplicates(subset=['id'])

In [7]:
tweets.groupby(by=['city', 'inside'])['id'].count()

city              inside
Colorado Springs  0.0       1315
                  1.0       4875
Kansas City       0.0       4829
                  1.0       7724
Los Angeles       0.0       9435
                  1.0       8955
New Orleans       0.0       6844
                  1.0       8997
Oklahoma City     0.0        992
                  1.0       5317
Philadelphia      0.0       8545
                  1.0       8622
Pittsburgh        0.0       5351
                  1.0       8959
Raleigh           0.0       2294
                  1.0       6293
Saint Louis       0.0        175
                  1.0       1891
Tampa             0.0       5797
                  1.0       8689
Name: id, dtype: int64

In [8]:
#ensure we have more than enough
tweets_no_dupes.groupby(by=['city', 'inside'])['id'].count()

city              inside
Colorado Springs  0.0        585
                  1.0       2286
Kansas City       0.0       2415
                  1.0       4068
Los Angeles       0.0       6906
                  1.0       8131
New Orleans       0.0       3281
                  1.0       5415
Oklahoma City     0.0        474
                  1.0       3401
Philadelphia      0.0       4304
                  1.0       7180
Pittsburgh        0.0       2143
                  1.0       6081
Raleigh           0.0       1105
                  1.0       3494
Saint Louis       0.0         78
                  1.0        760
Tampa             0.0       2835
                  1.0       5897
Name: id, dtype: int64

In [9]:
tweets_no_dupes.dropna(subset=["text"], inplace=True)

/var/folders/w2/999xw7715kj3_sqxrf0t3nb00000gn/T/ipykernel_5393/3952762645.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_no_dupes.dropna(subset=["text"], inplace=True)

In [10]:
tweets_no_media_only = tweets_no_dupes.loc[~tweets_no_dupes.text.str.lower().str.contains("just posted a")]

In [11]:
tweets_no_media_only.groupby(by=['city', 'inside'])['id'].count()

city              inside
Colorado Springs  0.0        585
                  1.0       2286
Kansas City       0.0       2415
                  1.0       4068
Los Angeles       0.0       6906
                  1.0       8131
New Orleans       0.0       3281
                  1.0       5415
Oklahoma City     0.0        474
                  1.0       3401
Philadelphia      0.0       4304
                  1.0       7180
Pittsburgh        0.0       2143
                  1.0       6081
Raleigh           0.0       1105
                  1.0       3494
Saint Louis       0.0         78
                  1.0        760
Tampa             0.0       2835
                  1.0       5897
Name: id, dtype: int64

In [12]:
tweets_no_media_only.to_csv("tweets_hashtags2_no_dupes.csv")

In [17]:
tweets.sample(10).text.tolist()

['In Game 75 of the #NewYork #Yankees 2021 #MajorLeagueBaseball Season, played on #June 25, 2021, The #NewYork #Yankees lost to The #Boston #RedSox ‚Äî A #Baseball game played at #FenwayPark is a #COVID19 #SuperSpreaderEvent ‚ÄîThe New York Yankees record is now 40-35 https://t.co/CqycPZ3XHp',
 'We offer #phones #repair #services\n‚úì #Screen\n‚úì #battery\n‚úì Software issues\n\n#oldellicottcity\n#ellicottcity\n#ellicottcitymd #catonsvillemd #columbiamd #laurelmd \n#maryland #hocomd #washingtondc #miami \n#iPhone #smartphone #roatech https://t.co/xSaYvxlHxe',
 'Make #WashingtonDC a state!  @cspanwj',
 'Now that #election coverage is slowing (kinda), I‚Äôm gonna drop some news in the #Austin, #ElPaso, #SanAntonio and #SouthTexas media markets tomorrow.... maybe even something for #LasCruces too #hustle üì∫ ü§ìüì∫ü§ìüì∫ü§ì',
 'My daughter took me out for Valentines Day dinner! #atlanta #beverlyhills #losangeles #sandiego #sanfrancisco #philadelphia #newyork #newyorkcity #cleveland #miami #chicago #lasvegas #portland #seattle #phoenix #neworleans #baltimore #houston #dallas #japan #unitedkingdom #dubai https://t.co/2lz9a6EndT',
 '#THIRSTYTHURSDAY on a #GAMEDAY has us feeling like....ü§© üçª  #UnderTheBleachers #Fenway #Boston #RedSox\n‚Ä¢‚Ä¢\nüì∏ : Via Instagram, @ michaelangulo3 https://t.co/WLYEgrzLje',
 '#HappyMonday!\nNew episode of @vegasrevealed is live during a big week in #LasVegas.\nüéß Listen. Rate. Review. \n#VegasRevealed \n#podcast #podcaster https://t.co/pnmtvrG4Rm',
 'We‚Äôre doing a little hedge trimming today! #aboveandbeyondtree #treecare #treeservice #treework #treeworkers #treeguys #treelife #hedgetrimming #jacksonville #florida üëçüå≥ @ West Jacksonville, Jacksonville https://t.co/0ZR7lBdyzy',
 '16TH STREET AND EVE ALBUM DROPS JANUARY 15TH\n#newmusic #music #newalbum #album #piano #vocal #guitar #synth #beat #mixtape #lit #hype #fire #musicproducer #singersongwriter #songwriter #producer #record #recording #time #azmusic #arizona #phoenix #love #sing #voice https://t.co/HEKtkGOcA7',
 '#OceanBeach‚ù§Ô∏è#SanFrancisco \n#CaliLove perfect weather üåû https://t.co/lUH6gI71aS']

In [13]:
long_tweets_only = tweets_no_media_only.loc[~(tweets_no_media_only.text.str.lower().str.len() < 64)]

In [14]:
long_tweets_only.groupby(by=['city', 'inside'])['id'].count()

city              inside
Colorado Springs  0.0        574
                  1.0       2262
Kansas City       0.0       2316
                  1.0       3987
Los Angeles       0.0       6788
                  1.0       7967
New Orleans       0.0       3162
                  1.0       5290
Oklahoma City     0.0        466
                  1.0       3391
Philadelphia      0.0       4221
                  1.0       7138
Pittsburgh        0.0       2009
                  1.0       5899
Raleigh           0.0       1072
                  1.0       3368
Saint Louis       0.0         74
                  1.0        753
Tampa             0.0       2726
                  1.0       5761
Name: id, dtype: int64

In [15]:
#get samples of 1000 per type
seed = 12345
samples = []
for city in long_tweets_only.city.unique().tolist():
    samples.append(long_tweets_only[(long_tweets_only.city == city) & (long_tweets_only.inside == 1)].sample(n=1000, random_state=seed))
    samples.append(long_tweets_only[(long_tweets_only.city == city) & (long_tweets_only.inside == 0)].sample(n=1000, random_state=seed))

In [16]:
#merge samples into 1 df
sample = pd.concat(samples)

In [17]:
#make sure that worked
sample.groupby(by=['city', 'inside'])['id'].count()

city           inside
Boston         0         1000
               1         1000
Chicago        0         1000
               1         1000
Fort Worth     0         1000
               1         1000
Jacksonville   0         1000
               1         1000
Las Vegas      0         1000
               1         1000
New York       0         1000
               1         1000
Phoenix        0         1000
               1         1000
San Antonio    0         1000
               1         1000
San Francisco  0         1000
               1         1000
Washington DC  0         1000
               1         1000
Name: id, dtype: int64

In [22]:
sample.drop(columns=["Unnamed: 0"]).to_csv("tweets_sample.csv")

In [23]:
sample.loc[sample.text.str.len() < 64].sample(10).text

36159    St. Pires en White Plains, New York https://t....
19971           The Las Vegas Golden Knights are for sluts
43511    Washington DC JUNE 25 üòé Get your tix: https://...
46429       64 Lawn Street, Boston https://t.co/vrE95kULmp
2254     Work day views @ Fort Worth, Texas https://t.c...
2497     Midway grad doing things in Fort Worth https:/...
49136    Never bent, never fold, never told, long live ...
11993    I'm at Moon Valley in Phoenix, AZ https://t.co...
3724     KofiMania is on fire in Fort Worth!! Yes!!! #MITB
44566    47 Crawford Street, Boston https://t.co/6qEXV8...
Name: text, dtype: object