In [1]:
import pandas as pd

In [2]:
tweets1 = pd.read_csv("city_tweets_hashtags_clean.csv")
tweets2 = pd.read_csv("city_tweets_hashtags2_clean.csv")

/var/folders/w2/999xw7715kj3_sqxrf0t3nb00000gn/T/ipykernel_8438/2562832373.py:1: DtypeWarning: Columns (12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets1 = pd.read_csv("city_tweets_hashtags_clean.csv")
/var/folders/w2/999xw7715kj3_sqxrf0t3nb00000gn/T/ipykernel_8438/2562832373.py:2: DtypeWarning: Columns (10,11,14) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets2 = pd.read_csv("city_tweets_hashtags2_clean.csv")

In [3]:
tweets = pd.concat([tweets1, tweets2])

In [6]:
tweets.head()

,Unnamed: 0.1,Unnamed: 0,edit_history_tweet_ids,author_id,created_at,conversation_id,id,text,geo.place_id,referenced_tweets,city,inside,withheld.copyright,withheld.country_codes,withheld.scope,hashtag,text_hash_split,text_clean
0,0,0,['1322757997542535168'],3024822494,2020-11-01T04:30:56.000Z,1322757997542535168,1.322758e+18,What time is it? It's time to go play a @ftwor...,42e46bc3663a4b5f,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['dresscode', 'symphony', 'orchestra', 'violin...",What time is it? It's time to go play a @ftwor...,what time is it it s time to go play a concert...
1,1,1,['1322735915815546880'],308865877,2020-11-01T03:03:12.000Z,1322735915815546880,1.322736e+18,Happy Halloween! üéÉüï∏üíÄüëªüßü‚Äç‚ôÄÔ∏è\n‚ñ™\n#gnc #halloween ...,42e46bc3663a4b5f,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['gnc', 'halloween', 'costume', 'guitarsandcad...",Happy Halloween! üéÉüï∏üíÄüëªüßü‚Äç‚ôÄÔ∏è\n‚ñ™\ngnc halloween co...,happy halloween gnc halloween costume guitarsa...
2,2,2,['1322697580518739968'],1067310330,2020-11-01T00:30:52.000Z,1322697580518739968,1.322698e+18,Happy Halloween from Lincoln Riley (some peopl...,3a3931bd91439f3a,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['halloween', 'lakecountry', 'fortworth', '2020']",Happy Halloween from Lincoln Riley (some peopl...,happy halloween from lincoln riley some people...
3,3,3,['1322628160597491712'],25454818,2020-10-31T19:55:01.000Z,1322628160597491712,1.322628e+18,Food üíØ\nPresentation üíØ\nHospitality üíØ\n\nGreat...,42e46bc3663a4b5f,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['DaynesCraftBarbecue', 'FortWorth']",Food üíØ\nPresentation üíØ\nHospitality üíØ\n\nGreat...,food presentation hospitality great food and e...
4,4,4,['1322569577939656704'],452645239,2020-10-31T16:02:14.000Z,1322569577939656704,1.322570e+18,#GoodMorning #downtown #FortWorth #texas @ Fun...,42e46bc3663a4b5f,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['GoodMorning', 'downtown', 'FortWorth', 'texas']",good morning downtown fort worth texas @ Funky...,good morning downtown fort worth texas funky t...

In [15]:
tweets.drop_duplicates(subset=['id'], inplace=True)

In [16]:
tweets.groupby(by=['city', 'inside'])['id'].count()

city              inside
Boston            0.0       3719
                  1.0       5036
Chicago           0.0       4587
                  1.0       5383
Colorado Springs  0.0        582
                  1.0       2281
Fort Worth        0.0        964
                  1.0       4261
Jacksonville      0.0       2823
                  1.0       1414
Kansas City       0.0       2384
                  1.0       4066
Las Vegas         0.0       4359
                  1.0       6337
Los Angeles       0.0       6334
                  1.0       8036
New Orleans       0.0       3177
                  1.0       5410
New York          0.0       5764
                  1.0       5447
Oklahoma City     0.0        466
                  1.0       3398
Philadelphia      0.0       3505
                  1.0       7154
Phoenix           0.0       3031
                  1.0       4684
Pittsburgh        0.0       2113
                  1.0       6069
Raleigh           0.0       1098
                  1.0       3491
Saint Louis       0.0         74
                  1.0        760
San Antonio       0.0       1936
                  1.0       4441
San Francisco     0.0       3545
                  1.0       5596
Tampa             0.0       2613
                  1.0       5878
Washington DC     0.0       2214
                  1.0       4248
Name: id, dtype: int64

In [17]:
longer_tweets = tweets.loc[~(tweets.text_clean.str.len() < 56)]

In [18]:
longer_tweets.groupby(by=['city', 'inside'])['id'].count()

city              inside
Boston            0.0       3304
                  1.0       4496
Chicago           0.0       4106
                  1.0       4584
Colorado Springs  0.0        547
                  1.0       2192
Fort Worth        0.0        930
                  1.0       4167
Jacksonville      0.0       2639
                  1.0       1360
Kansas City       0.0       2180
                  1.0       3665
Las Vegas         0.0       3953
                  1.0       5855
Los Angeles       0.0       6022
                  1.0       7611
New Orleans       0.0       2949
                  1.0       5023
New York          0.0       5394
                  1.0       4971
Oklahoma City     0.0        437
                  1.0       3347
Philadelphia      0.0       3317
                  1.0       6941
Phoenix           0.0       2788
                  1.0       4318
Pittsburgh        0.0       1868
                  1.0       5474
Raleigh           0.0       1019
                  1.0       3170
Saint Louis       0.0         65
                  1.0        730
San Antonio       0.0       1786
                  1.0       4190
San Francisco     0.0       3321
                  1.0       5101
Tampa             0.0       2377
                  1.0       5428
Washington DC     0.0       2087
                  1.0       4012
Name: id, dtype: int64

In [24]:
def sample_tweets(df, seed):
    samples = []
    for city in df.city.unique().tolist():
        samples.append(df[(df.city == city) & (df.inside == 1)].sample(n=800, random_state=seed))
        samples.append(df[(df.city == city) & (df.inside == 0)].sample(n=800, random_state=seed))
        
    return pd.concat(samples)

In [25]:
final_sample = longer_tweets.loc[~longer_tweets.city.isin(['Colorado Springs', 'Oklahoma City', 'Saint Louis'])]

In [26]:
sample_56 = sample_tweets(final_sample, 12345)

In [27]:
sample_56.groupby(by=['city', 'inside'])['id'].count()

city           inside
Boston         0.0       800
               1.0       800
Chicago        0.0       800
               1.0       800
Fort Worth     0.0       800
               1.0       800
Jacksonville   0.0       800
               1.0       800
Kansas City    0.0       800
               1.0       800
Las Vegas      0.0       800
               1.0       800
Los Angeles    0.0       800
               1.0       800
New Orleans    0.0       800
               1.0       800
New York       0.0       800
               1.0       800
Philadelphia   0.0       800
               1.0       800
Phoenix        0.0       800
               1.0       800
Pittsburgh     0.0       800
               1.0       800
Raleigh        0.0       800
               1.0       800
San Antonio    0.0       800
               1.0       800
San Francisco  0.0       800
               1.0       800
Tampa          0.0       800
               1.0       800
Washington DC  0.0       800
               1.0       800
Name: id, dtype: int64

In [29]:
sample_56.head()

,Unnamed: 0.1,Unnamed: 0,edit_history_tweet_ids,author_id,created_at,conversation_id,id,text,geo.place_id,referenced_tweets,city,inside,withheld.copyright,withheld.country_codes,withheld.scope,hashtag,text_hash_split,text_clean
1268,1268,3,['1391443346443411457'],1267945445084598274,2021-05-09T17:22:00.000Z,1391443346443411457,1.391443e+18,Does #FortWorth ever cross your mind? \nhttps:...,NaN,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['FortWorth', 'Stockyards', 'SUV', 'Limo']",Does fort worth ever cross your mind? \nhttps:...,does fort worth ever cross your mind and 469 2...
4672,4672,19,['1311653244112957440'],5445832,2020-10-01T13:04:37.000Z,1311653244112957440,1.311653e+18,P.F.L. Always! 2004-06\n.\n.\nFollow @playarab...,42e46bc3663a4b5f,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['playarabbit', 'theparksmall', 'fortworth', '...",P.F.L. Always! 2004-06\n.\n.\nFollow @playarab...,p f l always 06 follow play a rabbit the park ...
2327,2327,15,['1423822631577456648'],41679815,2021-08-07T01:45:43.000Z,1423822631577456648,1.423823e+18,"Disabled vehicle, right lane blocked in #FortW...",42e46bc3663a4b5f,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['FortWorth', 'DFWTraffic']","Disabled vehicle, right lane blocked in fort w...",disabled vehicle right lane blocked in fort wo...
66,66,6,['1287040376738635776'],347029713,2020-07-25T15:01:52.000Z,1287040376738635776,1.287040e+18,Pickup Man the Cowboy‚Äôs Cowboyü§† #stockyardsch...,42e46bc3663a4b5f,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['stockyardschampionshiprodeo', 'stockyardspro...",Pickup Man the Cowboy‚Äôs Cowboyü§† stockyardscha...,pickup man the cowboys cowboy stockyardschampi...
2525,2525,15,['1376576317903241217'],41679815,2021-03-29T16:45:44.000Z,1376576317903241217,1.376576e+18,Accident. two left lanes blocked. in #FortWort...,42e46bc3663a4b5f,NaN,Fort Worth,1.0,NaN,NaN,NaN,"['FortWorth', 'DFWTraffic']",Accident. two left lanes blocked. in fort wort...,accident two left lanes blocked in fort worth ...

In [30]:
sample_56.drop(columns=["Unnamed: 0.1", "Unnamed: 0"]).to_csv("final_tweets_set.csv")