In [1]:
import pandas as pd

In [2]:
tweets = pd.read_csv("clean_tweets_no_media.csv")

In [3]:
tweets.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,raw_text,author_id,edit_history_tweet_ids,conversation_id,created_at,geo.place_id,referenced_tweets,withheld.copyright,withheld.country_codes,city,inside,text_clean
0,0,0,0,1396640490410418179,All the rain in North Texas got me like … #sur...,26630630,['1396640490410418179'],1396640490410418179,2021-05-24T01:33:35.000Z,42e46bc3663a4b5f,NaN,NaN,NaN,Fort Worth,1,all the rain in north texas got me like surfs ...
1,1,1,1,1396618187903545344,"PodCast https://t.co/LnDEGlAXys en Fort Worth,...",1408791613,['1396618187903545344'],1396618187903545344,2021-05-24T00:04:58.000Z,42e46bc3663a4b5f,NaN,NaN,NaN,Fort Worth,1,podcast en fort worth texas
2,2,3,3,1396611875278888968,Some serious orange joy #garden #flowers #bloo...,415712551,['1396611875278888968'],1396611875278888968,2021-05-23T23:39:53.000Z,42e46bc3663a4b5f,NaN,NaN,NaN,Fort Worth,1,some serious orange joy garden flowers bloom c...
3,3,4,4,1396609919244189696,I'm at Falcon Document Solutions in Fort Worth...,64588252,['1396609919244189696'],1396609919244189696,2021-05-23T23:32:07.000Z,42e46bc3663a4b5f,NaN,NaN,NaN,Fort Worth,1,i m at falcon document solutions in fort worth tx
4,4,5,5,1396586482492710912,I wasn’t sure if we were in Fort Worth or Juma...,1152634941756321792,['1396586482492710912'],1396586482492710912,2021-05-23T21:58:59.000Z,6e315e1f96e0450a,NaN,NaN,NaN,Fort Worth,1,i wasnt sure if we were in fort worth or jumanji

In [4]:
tweets.groupby(by=['city', 'inside'])['id'].count()

city           inside
Boston         0         2703
               1         2091
Chicago        0         2778
               1         2219
Fort Worth     0         1757
               1         1549
Jacksonville   0         2244
               1         1317
Las Vegas      0         2585
               1         1922
New York       0         2379
               1         1808
Phoenix        0         2645
               1         2096
San Antonio    0         2290
               1         1992
San Francisco  0         2577
               1         2079
Washington DC  0         2312
               1         2098
Name: id, dtype: int64

In [22]:
long_tweets = tweets.loc[~(tweets.text_clean.str.len() < 32)]

In [34]:
longer_tweets = tweets.loc[~(tweets.text_clean.str.len() < 56)]

In [35]:
long_tweets.groupby(by=['city', 'inside'])['id'].count()

city           inside
Boston         0         2402
               1         1259
Chicago        0         2485
               1         1997
Fort Worth     0         1646
               1         1395
Jacksonville   0         2118
               1         1266
Las Vegas      0         2407
               1         1800
New York       0         2138
               1         1623
Phoenix        0         2441
               1         1920
San Antonio    0         2147
               1         1869
San Francisco  0         2497
               1         1975
Washington DC  0         2254
               1         2052
Name: id, dtype: int64

In [36]:
longer_tweets.groupby(by=['city', 'inside'])['id'].count()

city           inside
Boston         0         1945
               1         1022
Chicago        0         1998
               1         1568
Fort Worth     0         1378
               1         1107
Jacksonville   0         1723
               1         1027
Las Vegas      0         1996
               1         1322
New York       0         1725
               1         1281
Phoenix        0         2036
               1         1520
San Antonio    0         1804
               1         1544
San Francisco  0         2224
               1         1435
Washington DC  0         2135
               1         1920
Name: id, dtype: int64

In [39]:
def sample_tweets(df, seed):
    samples = []
    for city in df.city.unique().tolist():
        samples.append(df[(df.city == city) & (df.inside == 1)].sample(n=1000, random_state=seed))
        samples.append(df[(df.city == city) & (df.inside == 0)].sample(n=1000, random_state=seed))
        
    return pd.concat(samples)

In [41]:
sample_32 = sample_tweets(long_tweets, 12345)

In [43]:
sample_56 = sample_tweets(longer_tweets, 12345)

In [44]:
sample_32.groupby(by=['city', 'inside'])['id'].count()

city           inside
Boston         0         1000
               1         1000
Chicago        0         1000
               1         1000
Fort Worth     0         1000
               1         1000
Jacksonville   0         1000
               1         1000
Las Vegas      0         1000
               1         1000
New York       0         1000
               1         1000
Phoenix        0         1000
               1         1000
San Antonio    0         1000
               1         1000
San Francisco  0         1000
               1         1000
Washington DC  0         1000
               1         1000
Name: id, dtype: int64

In [45]:
sample_56.groupby(by=['city', 'inside'])['id'].count()

city           inside
Boston         0         1000
               1         1000
Chicago        0         1000
               1         1000
Fort Worth     0         1000
               1         1000
Jacksonville   0         1000
               1         1000
Las Vegas      0         1000
               1         1000
New York       0         1000
               1         1000
Phoenix        0         1000
               1         1000
San Antonio    0         1000
               1         1000
San Francisco  0         1000
               1         1000
Washington DC  0         1000
               1         1000
Name: id, dtype: int64

In [48]:
sample_32.drop(columns=["Unnamed: 0.2", "Unnamed: 0.1", "Unnamed: 0"]).to_csv("tweets_sample_32.csv")

In [49]:
sample_56.drop(columns=["Unnamed: 0.2", "Unnamed: 0.1", "Unnamed: 0"]).to_csv("tweets_sample_56.csv")